version: "3"
services:
  api-prd:
    build:
      context: src
      dockerfile: Dockerfile.prd
    container_name: "cloudrun-api-prd"
    working_dir: "/app"
    ports:
      - "8080:8080"
    env_file:
      - .env
  api-dev:
    build:
      context: src
      dockerfile: Dockerfile.dev
    container_name: "cloudrun-api-dev"
    working_dir: "/app"
    tty: true
    stdin_open: true
    ports:
      - "8081:8081"
    env_file:
      - .env
