name: deploy

# main ブランチへのPull Request と Merge をトリガーに指定
on:
  push:
    branches:
      - main
      - stg
  pull_request:
    branches:
      - main
      - stg
  workflow_dispatch: {}

env:
  # GCPのPROJECT_ID
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  # Region
  REGION: ${{ secrets.GCP_REGION }}
  # Artifact RegistryのRepository名（事前に作成しておく）
  BASE_REPOSITORY_NAME: ${{ secrets.BASE_REPOSITORY_NAME }}

  SERVICE_ACCOUNT: ${{ secrets.TERRAFORM_SERVICE_ACCOUNT }}
  WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}

  TF_COMMON_WORKING_DIR: ./terraform/common_stack
  TF_RESOURCE_WORKING_DIR: ./terraform/resource_stack

# ジョブ / ステップ / アクションの定義
jobs:
  is-allow-pull-request:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Print ${{ github.event.pull_request.base.ref }}, ${{ github.event.pull_request.head.ref }}"
      - name: Check base branch
        if: github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref != 'stg'
        run: |
          echo "Pull requests to main are only allowed from the stg branch."
          exit 1

  # src配下とcommon_stack配下のファイルの変更検知
  setup:
    runs-on: ubuntu-latest
    needs: [is-allow-pull-request]
    if: ${{ !failure() }}
    outputs:
      common: ${{ steps.common-filter.outputs.common }}
      src: ${{ steps.src-filter.outputs.src }}
      env_string: ${{ steps.set-environment.outputs.ENV_STRING }}
    steps:
      - uses: actions/checkout@v4

      - name: Make the script files executable
        working-directory: .github/scripts/
        run: chmod +x *.sh

      - uses: dorny/paths-filter@v3
        id: common-filter
        with:
          filters: |
            common:
              - 'terraform/common_stack/**'
      - uses: dorny/paths-filter@v3
        id: src-filter
        with:
          filters: |
            src:
              - 'src/**'
      - name: Set environment string
        id: set-environment
        run: ./.github/scripts/set-env.sh
        env:
          GITHUB_REF: ${{ github.ref }}
          GITHUB_BASE_REF: ${{ github.base_ref }}
          GITHUB_OUTPUT: $GITHUB_OUTPUT

  common-terraform:
    needs: [is-allow-pull-request, setup]
    if: ${{ !failure() }}
    runs-on: ubuntu-latest
    outputs:
      env_string: ${{ needs.setup.outputs.env_string }}
      src: ${{ needs.setup.outputs.src }}
    defaults:
      run:
        working-directory: ${{ env.TF_COMMON_WORKING_DIR }}
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    # Workload Identity 連携
    steps:
      - uses: actions/checkout@v4
        if: needs.setup.outputs.common == 'true'

      - name: Authenticate to Google Cloud
        if: needs.setup.outputs.common == 'true'
        uses: ./.github/actions/authenticate
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Make the script files executable
        if: needs.setup.outputs.common == 'true'
        shell: bash
        working-directory: .github/scripts/
        run: chmod +x *.sh

      - name: Terraform Setup
        if: needs.setup.outputs.common == 'true'
        id: tf-setup
        uses: ./.github/actions/terraform-setup
        with:
          workspace: default
          working-directory: ${{ env.TF_COMMON_WORKING_DIR }}

      - name: Terraform Plan
        if: needs.setup.outputs.common == 'true'
        id: plan
        run: terraform plan -no-color -var "run_context=remote"
        continue-on-error: true

      - name: Set Resource Stack Terraform Plan To PR Comment
        if: needs.setup.outputs.common == 'true'
        uses: ./.github/actions/set-plan-comment
        with:
          FMT_OUTCOME: ${{ steps.tf-setup.outputs.fmt_outcome }}
          INIT_OUTCOME: ${{ steps.tf-setup.outputs.init_outcome }}
          VALIDATE_OUTCOME: ${{ steps.tf-setup.outputs.validate_outcome }}
          VALIDATE_OUTPUT: ${{ steps.tf-setup.outputs.validate_output}}
          PLAN_OUTCOME: ${{ steps.plan.outcome }}
          PLAN_OUTPUT: ${{ steps.plan.outputs.stdout }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          TF_WORKING_DIR: ${{ env.TF_COMMON_WORKING_DIR }}
          GITHUB_WORKFLOW: ${{ github.workflow }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      # mainとstgにpushした場合は appｌｙ が実行される
      - name: Terraform Apply
        if: needs.setup.outputs.common == 'true' && github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -var "run_context=remote"

  build:
    needs: [is-allow-pull-request, setup, common-terraform]
    if: needs.common-terraform.outputs.src == 'true' || github.ref == 'refs/heads/stg' || needs.setup.outputs.env_string == 'dev'
    outputs:
      env_string: ${{ needs.setup.outputs.env_string || needs.common-terraform.outputs.env_string }}
    environment: ${{ needs.setup.outputs.env_string || needs.common-terraform.outputs.env_string }}
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: .
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    # Workload Identity 連携
    steps:
      # https://cloud.google.com/iam/docs/using-workload-identity-federation#generate-automatic
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: ./.github/actions/authenticate
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Build Cloud Run Image
        uses: ./.github/actions/build-image
        with:
          region: ${{ env.REGION }}
          project_id: ${{ env.PROJECT_ID }}
          environment: ${{ vars.ENVIRONMENT }}
          repository: ${{ env.BASE_REPOSITORY_NAME }}
          docker-file-path: ${{ vars.DOCKER_FILE_PATH }}

  resource-terraform:
    needs: [is-allow-pull-request, setup, build, common-terraform]
    runs-on: ubuntu-latest
    environment: ${{ needs.setup.outputs.env_string || needs.common-terraform.outputs.env_string || needs.build.outputs.env_string }}
    if: ${{ !failure() }}

    defaults:
      run:
        working-directory: ${{ env.TF_RESOURCE_WORKING_DIR }}
    permissions:
      id-token: write
      contents: read
      pull-requests: write

    # Workload Identity 連携
    steps:
      - uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: ./.github/actions/authenticate
        with:
          workload_identity_provider: ${{ env.WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ env.SERVICE_ACCOUNT }}

      - name: Make the script files executable
        shell: bash
        working-directory: .github/scripts/
        run: chmod +x *.sh

      - name: Get Latest Tag
        id: get-latest-tag
        working-directory: .github/scripts/
        run: ./get-latest-tag.sh
        env:
          REGION: ${{ env.REGION }}
          PROJECT_ID: ${{ env.PROJECT_ID }}
          REPOSITORY_NAME: ${{ vars.ENVIRONMENT }}-${{ env.BASE_REPOSITORY_NAME }}
          ENVIRONMENT: ${{ vars.ENVIRONMENT }}
          GITHUB_OUTPUT: $GITHUB_OUTPUT

      - name: Print Latest Tag
        run: echo ${{ steps.get-latest-tag.outputs.tag }}

      - name: Terraform Setup
        id: tf-setup
        uses: ./.github/actions/terraform-setup
        with:
          workspace: ${{ vars.ENVIRONMENT }}
          working-directory: ${{ env.TF_RESOURCE_WORKING_DIR }}

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -var "docker_tag=${{ steps.get-latest-tag.outputs.tag }}" -var "run_context=remote"
        continue-on-error: true

      - name: Set Resource Stack Terraform Plan To PR Comment
        uses: ./.github/actions/set-plan-comment
        with:
          FMT_OUTCOME: ${{ steps.tf-setup.outputs.fmt_outcome }}
          INIT_OUTCOME: ${{ steps.tf-setup.outputs.init_outcome }}
          VALIDATE_OUTCOME: ${{ steps.tf-setup.outputs.validate_outcome }}
          VALIDATE_OUTPUT: ${{ steps.tf-setup.outputs.validate_output}}
          PLAN_OUTCOME: ${{ steps.plan.outcome }}
          PLAN_OUTPUT: ${{ steps.plan.outputs.stdout }}
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_EVENT_NAME: ${{ github.event_name }}
          TF_WORKING_DIR: ${{ env.TF_COMMON_WORKING_DIR }}
          GITHUB_WORKFLOW: ${{ github.workflow }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform Plan Status
        if: steps.plan.outcome == 'failure'
        run: exit 1

      # planが成功した場合は appｌｙ が実行される
      - name: Terraform Apply
        if: github.event_name == 'push' || needs.setup.outputs.env_string == 'dev'
        run: terraform apply -auto-approve -var "docker_tag=${{ steps.get-latest-tag.outputs.tag }}" -var "run_context=remote"

      # main ブランチに push した場合にだけ stg環境のdestroyが実行される
      - name: Terraform Destroy Stg
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          terraform workspace select stg || terraform workspace new stg
          terraform destroy -auto-approve -var "docker_tag=''" -var "run_context=remote"
