name: Restrict PRs to Main

on:
  pull_request:
    branches:
      - main
      - stg

jobs:
  restrict-pr:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: echo "${{ github.event.pull_request.base.ref}}, ${{github.event.pull_request.head.ref}}"
      - name: Check base branch
        if: github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref != 'stg'
        run: |
          echo "Pull requests to main are only allowed from the stg branch."
          exit 1